<div>
  <mat-toolbar color="primary" class="navbar">
    <span class="spacer" >Simple Blog</span>
    <div>
      <button mat-fab extended routerLink="/read">
        <mat-icon>newspaper</mat-icon>
        Read
      </button>
    </div>

    <div>
      <button mat-fab extended routerLink="/post">
        <mat-icon>edit_note</mat-icon>
        Post
      </button>
    </div>

    <button mat-mini-fab aria-label="Account Profile" [matMenuTriggerFor]="menu">
      <mat-icon aria-hidden="false" aria-label="profile" fontIcon="account_circle"></mat-icon>
    </button>
    <mat-menu #menu="matMenu" routerLink="/User">
      <button mat-menu-item routerLink="/login">Login & Signup</button>
      <button mat-menu-item routerLink="/logout">Logout</button>
    </mat-menu>

  </mat-toolbar>
</div>
